<div class = "row">
<div class = "large-8 column">

<%= form_tag("/username", method: "create") do %>
<%= label_tag(:user_name, "Username:") %>
<%= text_field_tag(:user_name)%>
<%= label_tag(:password, "Password:")%>
<%= text_field_tag(:password)%>
<%= submit_tag("Register")%>
<%end%>

</div>
</div>

