
<!DOCTYPE html>
<html>
<head>

</head>
<body>

 <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          
        </div>
        <div class="small-10 columns">
          <ul class="inline-list right">
<<<<<<< HEAD
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Network', '*' %></li>
            <li><%= link_to 'Seminar', seminars_index_path %></li>
            <li><%= link_to 'Profile', users_index_path %></li>
            <li><%= link_to 'Organizations', comments_index_path %></li>
=======
            <li><%= link_to 'Home', home_path%></li>
            <li><%= link_to 'Network', ''%></li>
            <li><a href="*">Seminars</a></li>
            <li><a href="*">Profile</a></li>
            <li><a href="*">Organizations</a></li>
>>>>>>> e46e940024098d42d57283e689a2a8fe6c705938
          </ul>
        </div>
      </div>
    </div> 
  </footer>

