<!DOCTYPE html>
<html>
<head>
  <title>CuriaxApp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render layout: "layouts/footer" %>
<%= yield %>

</body>
</html>
