<!DOCTYPE html>
<html>
<head>
  <title>CuriaxApp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<%= render layout: "layouts/footer" %>
<%= yield %>

=======
<%= render "layouts/header"
<%= render "layouts/sidebar" %>
<%= yield %>
<%=render "layouts/footer"%>
<%= yield %>
>>>>>>> 62782397a40dbb046262e6f1f424d61f13e27f5e
</body>
</html>
